# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve -l -H localhost`. If you change this file, please restart the 
# server process.

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default" # Currently available options are "default", "air"
title                    : "Your Name / Site Title"
title_separator          : "-"
name                     : &name "Your Name"
description              : &description "Your Name's academic portfolio"   # Update this with a general description of your site, this is the default if not overridden by a page
url                      : https://notsoweedy.github.io # The base hostname & protocol for your site e.g. "https://[your GitHub username].github.io",
                                                           # or if you already have some other page hosted on Github then use "https://[your GitHub username].github.io/[Your Repo Name]"
baseurl                  : "" # the subpath of your site, e.g. "/blog"
repository               : "notsoweedy/notsoweedy.github.io"

# Site Author - The following control what appear as part of the author content on the side bar.
#               If a field is blank the icon and link will not appear, otherwise it will be shown.
#               Additional customization can be done by editing /_includes/author-profile.html
author:
  # Biographic information
  avatar           : "profile.png"
  name             : "Your Sidebar Name"
  pronouns         : # example: "she/her"  
  bio              : "Short biography for the left-hand sidebar"
  location         : "Earth"
  employer         : "Red Brick University"
  uri              : # URL
  email            : "none@example.org" 
  
  # Academic websites
  academia         : # URL
  arxiv            : # URL e.g. https://arxiv.org/a/[username].html
  bitbucket        : # username
  biorxiv          : # URL e.g. https://www.biorxiv.org/search/[author_name]
  blogger          : # username
  codepen          : # username
  dblp             : # URL e.g. https://dblp.org/pid/[your-dblp-id-e-g-00/0000-10].html
  dryad            : # URL e.g. https://datadryad.org/stash/share/[your_dryad_url]
  dribbble         : # username
  flickr           : # username
  foursquare       : # username
  github           : # username
  gitlab           : # username
  google_scholar   : # URL
  googleplus       : # username
  impactstory      : # URL
  instagram        : # username
  kaggle           : # username
  keybase          : # username
  lastfm           : # username
  linkedin         : # username
  loop             : # URL e.g. https://loop.frontiersin.org/people/[your-loop-id]
  mastodon         : # URL e.g. https://mstdn.science/@yourhandle
  medium           : # URL to profile e.g. https://medium.com/@yourhandle
  orcid            : # URL e.g. https://orcid.org/[your-ORCID-id]
  osf              : # URL e.g. https://osf.io/[your-osf-id]
  peerj            : # URL e.g. https://peerj.com/[username]/
  pinterest        : # username
  pubmed           : # URL e.g. https://pubmed.ncbi.nlm.nih.gov/?term=[Your+Search+String]
  publons          : # URL e.g. https://publons.com/researcher/[your-publons-id]
  quora            : # username
  reddit           : # username
  researchgate     : # URL
  scopus           : # URL e.g. https://www.scopus.com/authid/detail.uri?authorId=[Your Scopus Author ID]
  semanticscholar  : # URL e.g. https://www.semanticscholar.org/author/[author name]/[author-id]
  soundcloud       : # username
  stackoverflow    : # your user ID number e.g. "3820949"
  steam            : # username
  tumblr           : # username
  twitter          : # username
  vine             : # username
  wikidata         : # URL e.g. https://www.wikidata.org/wiki/Q[your-wikidata-id]
  wikipedia        : # username
  xing             : # username
  youtube          : # username


# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .devcontainer
  - .editorconfig
  - .github
  - .gradle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Dockerfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - docker-compose.yaml
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - package-lock.json
  - tmp
  - vendor
  - _config_docker.yml
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  # _teaching
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  # _portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comment: true
  # _talks
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
# paginate: 5 # amount of posts to show
# paginate_path: /page:num/
timezone: America/Los_Angeles # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
# https://github.com/jekyll/jekyll-archives
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
