# Welcome to Jekyll!
#
# This config file is meant for settings that affect your entire site, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# `jekyll serve -l -H localhost`. If you change this file, please restart the 
# server process.

# Basic Site Settings
locale                   : "en-US"
site_theme               : "default"  # Currently available options are "default", "air"
title                    : "Vidhi Bansal / Site Title"
title_separator          : "-"
name                     : &name "Vidhi Bansal"
description              : &description "Your Name's academic portfolio"   # Update this with a general description of your site, this is the default if not overridden by a page
url                      : https://notsoweedy.github.io # The base hostname & protocol for your site e.g. "https://[your GitHub username].github.io",
                                                          # or if you already have some other page hosted on Github then use "https://[your GitHub username].github.io/[Your Repo Name]"
baseurl                  : "" # the subpath of your site, e.g. "/blog"
repository               : "notsoweedy/notsoweedy.github.io"

# Site Author - The following control what appear as part of the author content on the side bar.
#               If a field is blank the icon and link will not appear, otherwise it will be shown.
#               Additional customization can be done by editing /_includes/author-profile.html
author:
  # Biographic information
  avatar           : "F6BA3017-95B3-4B29-842F-F5CDD7315E9E_1_105_c.jpg"
  name             : "Vidhi Bansal"
  pronouns         : # example: "she/her"  
  bio              : "Passionate about building scalable systems, automation frameworks, and driving innovation through modern software engineering practices."
  location         : "Hyderabad"
  employer         : "Manipal Institute of Technology"
  uri              : # URL
  email            : "bvidhi1997@gmail.com" 
  
  
  
  # Academic websites
  academia         : # URL
  arxiv            : # URL e.g. https://arxiv.org/a/[username].html
  bitbucket        : "notsoweedy"
  clarivate        : # Web of Science ResearcherID e.g. B-5297-2009
  dblp             : # URL e.g. https://dblp.org/pid/[username].html
  google_scholar   : # URL e.g. https://scholar.google.com/citations?user=[username]
  ieee             : # URL e.g. https://ieeexplore.ieee.org/author/[number]
  impactstory      : # URL e.g. https://profiles.impactstory.org/u/[username]
  mathoverflow     : # URL e.g. https://mathoverflow.net/users/[number]/[username]
  orcid            : # "https://orcid.org/your-orcid-id"
  pubmed           : # URL e.g. https://www.ncbi.nlm.nih.gov/myncbi/[username]/bibliography/public/
  researchgate     : # URL e.g. https://www.researchgate.net/profile/[username]
  semantic_scholar : # URL e.g. https://www.semanticscholar.org/author/[username]
  ssrn             : # URL e.g. https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=[number]

  # Repositories and software development
  github           : "notsoweedy"
  gitlab           : # username
  kaggle           : # username
  stackoverflow    : # URL e.g. https://stackoverflow.com/users/[number]/[username]

  # Social media
  bluesky          : # Replace this with you Bluesky username
  discord          : # an invite link, username (discriminator#0000), or user ID
  facebook         : # username
  flickr           : # username
  foursquare       : # username
  goodreads        : # username
  instagram        : # username
  keybase          : # username
  lastfm           : # username
  linkedin         : "vidhi-bansal-8ab1a8193" # username
  mastodon         : # URL
  medium           : # username
  pinterest        : # username
  soundcloud       : # username
  steam            : # username
  telegram         : # URL e.g. https://t.me/[username]
  tumblr           : # username
  twitter          : # username
  vine             : # username
  wikipedia        : # username
  xing             : # username
  youtube          : # username
  zhihu            : # URL

# Site Settings
teaser                   :  # filename of teaser fallback teaser image placed in /images/, .e.g. "500x300.png"
breadcrumbs              : false # true, false (default)
words_per_minute         : 160
comments:
  provider               : # false (default), "disqus", "facebook", "google-plus", custom"
  disqus:
    shortname            :
  facebook:
    appid                :
    num_posts            : # 5 (default)
    colorscheme          : # "light" (default), "dark"

# SEO Related
google_site_verification :
bing_site_verification   :
alexa_site_verification  :
yandex_site_verification :

# Social Sharing
twitter:
  username               : &twitter
facebook:
  username               :
  app_id                 :
  publisher              :
og_image                 :  # Open Graph/Twitter default site image
# For specifying social profiles
# - https://developers.google.com/structured-data/customize/social-profiles
social:
  type                   : # Person or Organization (defaults to Person)
  name                   : # If the user or organization name differs from the site's name
  links: # An array of links to social media profiles


# Analytics
analytics:
  provider               :  "false" # false (default), "google", "google-universal", "custom"
  google:
    tracking_id          :


# Reading Files
include:
  - .htaccess
  - _pages
  - files
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - CHANGELOG
  - Capfile
  - Gemfile
  - Gruntfile.js
  - LICENSE
  - README
  - Rakefile
  - assets/js/_main.js
  - assets/js/plugins
  - assets/js/vendor
  - config
  - gulpfile.js
  - log
  - node_modules
  - package.json
  - tmp
  - vendor
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"


# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Collections
collections:
  teaching:
    output: true
    permalink: /:collection/:path/
  publications:
    output: true
    permalink: /:collection/:path/
  portfolio:
    output: true
    permalink: /:collection/:path/
  talks:
    output: true
    permalink: /:collection/:path/


# Defaults
defaults:
  # _posts
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      read_time: true
      comments: true
      share: true
      related: true
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      layout: single
      author_profile: true
  # _teaching
  - scope:
      path: ""
      type: teaching
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  # _publications
  - scope:
      path: ""
      type: publications
    values:
      layout: single
      author_profile: true
      share: true
      comments: true
  # _portfolio
  - scope:
      path: ""
      type: portfolio
    values:
      layout: single
      author_profile: true
      share: true
      comment: true
  # _talks
  - scope:
      path: ""
      type: talks
    values:
      layout: talk
      author_profile: true
      share: true

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # http://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
permalink: /:categories/:title/
# paginate: 5 # amount of posts to show
# paginate_path: /page:num/
timezone: America/Los_Angeles # http://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-redirect-from
# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji


# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
# https://github.com/jekyll/jekyll-archives
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/


# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development
